@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Michroma", sans-serif;
  height: 100vh;
}

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

#svg {
  height: 150px;
  width: 150px;
  stroke: rgb(20, 220, 97);
  fill-opacity: 0;
  stroke-width: 8px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #000000;
  font-size: 20px;
  letter-spacing: 3px;
  margin-left: 20px;
  font-weight: bolder;
}
.logo-name span{
    color: rgb(20, 220, 97);
}
