
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
/* seting all body */
body {
	background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
}
/* set container */
.container{
    display: flex;
    flex-direction: column;	
}
.container .logo p{ /* logo decoration */
	font-size: 2em;
}
.container .logo p span{
	color: rgb(20, 220, 97);
}
.container .formLogin{ /* form class */
	height: 700px;
    display: flex;
	background-image: url(https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/45ab29df.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 700px;
}
/* end setting container */

/* seting form login */
.container .formLogin .login { /*seting untuk papan login */
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #CFCFCF;
	margin: auto;						
	padding: 30px 30px 50px 30px;
	width: 250px;
}

h1 { /*kata login*/
	color: #333333;
	font-size: 24px;
	margin-bottom: 20px;
	text-align: left;
}

form { /*seting item yang ada di dalam class login*/
	display: flex;
	flex-direction: column;
}

input[type="text"],
input[type="password"] { /*sett kolom tlp dan pass*/
	border-radius: 10px;
	font-size: 14px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid rgba(128, 128, 128, 0.376);
}

input[type="submit"] { /*sett button login*/
	background-color: rgba(14, 151, 66, 0.751);
	border-radius: 10px;
	border: none;
	color: #333333;
	cursor: pointer;
	font-size: 18px;
	padding: 10px;
}

input[type="submit"]:hover { /*sett button login saat hover*/
	background-color: rgb(20, 220, 97);
}
/* end seting form login */

/* link dekorasi*/
p{
	text-align: center;
	font-size: 10px;
}
a {
	text-decoration: none;
	font-style: italic;
	color: rgb(20, 126, 32);
}



